 .heading {
    animation: none;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4rem;
    white-space: nowrap;
}
.heading.one {
    width: 5ch;
    font-family: monospace;
}
.heading.two {
    width: 5ch;
    font-family: "microstyle";
}
.heading.three {
    width: 3ch;
    font-family: "sfpro";
}
.heading.four {
    width: 3ch;
    font-family: "TwitterChirp";
}
.heading.five {
    width: 21ch;
    font-family: "andalemono";
}
.heading.six {
    width: 12ch;
    font-family: "andalemono";
}

.heading.one.show {
    color: white;
    animation: typing 0.7s steps(5), blink .5s step-end infinite alternate;
}
.heading.two.show {
    color: black;
    animation: typing 0.7s steps(5), blink .5s step-end infinite alternate;
}
.heading.three.show {
    color: white;
    animation: typing 0.5s steps(4), blink .5s step-end infinite alternate;
}
.heading.four.show {
    color: black;
    animation: typing 0.3s steps(3), blink .5s step-end infinite alternate;
}
.heading.five.show {
    color: black;
    animation: typing 1s steps(21), blink .5s step-end infinite alternate;
}
.heading.six.show {
    color: black;
    animation: typing 1s steps(12), blink .5s step-end infinite alternate;
}

.paragraph.one {
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}
.paragraph.two {
    color: black;
    font-family: "GeneralSans";
    font-size: 1.3rem;
}
.paragraph.three {
    color: white;
    font-family: "sfpro";
    font-size: 1.6rem;
}
.paragraph.four {
    color: black;
    font-family: "TwitterChirp";
    font-size: 1.6rem;
}
.paragraph.five {
    color: black;
    font-family: "GeneralSans";
    font-size: 1.6rem;
}
.paragraph.six {
    color: black;
    font-family: "GeneralSans";
    font-size: 1.6rem;
}

/* additional paragraph */
.ad-paragraph {
    display: flex;
    gap: 50px;
    max-height: 30%!important;
    max-width: 1200px!important;
    align-items: center;
}

.container {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container-body {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1300px!important;
}

.scroll-progress {
    width: 0;
    background-color: #333333;
    height: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.extraheading {
    font-family: "GeneralSans";
    font-weight: bold;
    font-size: 2rem;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html, body {
    scroll-snap-type: y mandatory;
    margin: 0;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

header {
    position: fixed;
    bottom: 30px;
    left: 48%;
    margin: 0 auto;
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: "GeneralSans";
    z-index: 1000; /* A high value to ensure it is on top */
}

@keyframes typing {
    from {
      width: 0
    }
}    
@keyframes blink {
    50% {
      border-color: transparent
    }
}

@font-face {
    font-family: "GeneralSans";
    src: url("fonts/GeneralSans-Light.woff2");
}
@font-face {
    font-family: "TwitterChirp";
    src: url("fonts/chirp-regular-web.woff");
}
@font-face {
    font-family: "microstyle";
    src: url("fonts/microstyle.woff");
}
@font-face {
    font-family: "sfpro";
    src: url("fonts/sf-pro-text_regular.woff2");
}
@font-face {
    font-family: "andalemono";
    src: url("fonts/ANDALEMO.woff");
}
